input{

    background-color:  rgba(0, 0, 0, 0.473);
    padding: 14px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    outline: 0px;
    border: 1px solid rgba(255,255,255,0.04);
    width: 80%;
}

.btn-add{
    display: inline-block;
    padding: 15px 14px;
    background-color: rgb(2, 132, 2);
    border: 0px;
    color: #fff;
    position: relative;
    top: -1px;
    border-radius: 4px;
    transition: all 0.2s;
    margin-left: 5px;
}

.btn-add:hover{
    background-color: rgb(0, 255, 0);
    cursor: pointer;
}
